<div class="form-container">
  <h1>Ajouter un livre</h1>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" formControlName="title" placeholder="Titre du livre">
      <div *ngIf="bookForm.get('title')?.invalid && (bookForm.get('title')?.dirty || bookForm.get('title')?.touched)">
        <small *ngIf="bookForm.get('title')?.errors?.['required']">Le titre est requis.</small>
        <small *ngIf="bookForm.get('title')?.errors?.['minlength']">Le titre doit comporter au moins 3 caractères.</small>
      </div>
    </div>
    <div>
      <input type="text" formControlName="author" placeholder="Nom de l'auteur">
      <div *ngIf="bookForm.get('author')?.invalid && (bookForm.get('author')?.dirty || bookForm.get('author')?.touched)">
        <small *ngIf="bookForm.get('author')?.errors?.['required']">L'auteur est requis.</small>
        <small *ngIf="bookForm.get('author')?.errors?.['minlength']">Le nom de l'auteur doit comporter au moins 3 caractères.</small>
      </div>
    </div>
    <div>
      <input type="text" formControlName="description" placeholder="Description du livre">
      <div *ngIf="bookForm.get('description')?.invalid && (bookForm.get('description')?.dirty || bookForm.get('description')?.touched)">
        <small *ngIf="bookForm.get('description')?.errors?.['required']">La description est requise.</small>
        <small *ngIf="bookForm.get('description')?.errors?.['minlength']">La description doit comporter au moins 10 caractères.</small>
      </div>
    </div>
    <div>
      <input type="text" formControlName="category" placeholder="Catégorie du livre">
      <div *ngIf="bookForm.get('category')?.invalid && (bookForm.get('category')?.dirty || bookForm.get('category')?.touched)">
        <small *ngIf="bookForm.get('category')?.errors?.['required']">La catégorie est requise.</small>
      </div>
    </div>
    <button type="submit" [disabled]="bookForm.invalid">Ajouter le livre</button>
  </form>
</div>
